.map {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.493);
    padding-bottom: 20px;
}

.map h3 {
    background-color: rgba(0, 225, 255, 0.342);
    width: 100%;
}

.orden {
    display: inline-block;
    margin: 10px;
    width: 280px;
    color: white;
}

.imagenurl {
    width: 200px;
    height: 300px;
    margin-top: 10px;
}

.link {
    color: white;
    text-decoration:none;
}