.button {
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
    background-color: gray;
    color: white;
}


.add {
    width: 100px;
    border-radius: 25px;
    background-color: gray;
    margin-top: 10px;
    color: white;
}
